{% extends "layout.html" %}
<style>
#middle {
    top: 50%;
    margin-left: 50%;
}
</style>
{% block content %}
 {% if not session.logged_in %}
    <div class="row" id="middle">
        <div class="col s12 m6">
             {% if error  %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
            <div class="card blue-grey darken-1">
                <form action="{{ url_for('login') }}" method="POST">
                    <p><input type="radio" name="login_type" value="customer" id="1" checked/>
                        <label for="1">Customer</label></p>
                    <p><input type="radio" name="login_type" value="rest_owner" id="2"/>
                        <label for="2">Restaurant Owner</label></p>
                    <p><input type="radio" name="login_type" value="admin" id="3"/>
                        <label for="3">Admin</label></p>


                    E-mail <input type="text" name="email"> <br>
                    Password <input type="password" name="password">
                    <div class="card-action">
                        <input class="btn btn-default" type="submit" value="Login">
                        <a href="{{ url_for('register') }}">Register</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
 {% endif %}

{% endblock %}