<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">-->
  </head>
  <body>
    <br class="container">
      <h1>Hi!</h1>
      <a href="/search">Search Restaurants</a>
    </br>
      <a href="/previous_orders">Previous Orders</a>
    </br>
      <a href="/billing_address">Billing Address</a>
    </br>
      <a href="/card_details">Card Details</a>
    </br>
      <a href="/logout">Sign Out</a>
    </div>
  </body>
</html>
