{% extends "layout.html" %}
{% block content %}
    <ul style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif">
        {% for address in addresses %}
            <div class="row">
                <div class="col s12 m6">
                    <div class="card red darken-4">
                        <div class="card-content white-text">
                            <span class="card-title">Your {{ address[3] }}, {{ address[4] }} address</span>
                            <ul>
                            <li>{{ address[0] }} Apt {{ address[1] }}</li>
                            <li>{{ address[2] }}</li>
                                <li>{{ address[3] }}, {{ address[4] }} - {{ address[5] }}</li>
                                </ul>
                        </div>
                        <div class="card-action">
                            <a href="#">Select this address</a>
                            <a href="/delete_address/{{ address[6] }}">Delete this address</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
    <p><a href="/login">Back to Home</a></p>
{% endblock %}