<!DOCTYPE html>
<html lang="en">
<style>
.float_center {
  float: center;
  position: relative;
  left: -70%; /* or right 50% */
  text-align: left;
}
#wrapper {
  width: 1000px;     /* specify a width! */
  margin: 0 auto; /* center */
}
body {
    margin:0 auto;
    width:1000px;
}
</style>
<html>
 <header style="background:black">
          <div class="black">
            <br/>
          </div>
        </header>
<h1>Edit Menu item page</h1>
<body>

 <a href="{{ url_for('search_page') }}" >Back to search</a>
 <div align="center" class="card red darken-4">

 <form class="card red darken-4" style="width: 700px" action="{{url_for('user_display_menu')}}", method="post">
<table>
 {% for cur in menu %}
  <tr>
      <td>{{cur.name}}</td><td>at {{cur.description}}</td><td> {{cur.cost}}</td>
         <td>
             <select class="select-style">
             {% for i in [1,2,3,4,5,6] %}
            <option value="{{i}}">{{i}}</option>
                 {% endfor %}
             </select>
      </td>
      <td><button type="submit" name="rest_id" value="{{cur.res_id}}">Add to Cart</button></td>
  </tr>
{% endfor %}
</table>
     </form>
</div>
        <footer style="background:black">
          <div class="black">
            <br/>
          </div>
        </footer>
</body>
</html>