{% extends "layout.html" %}
{% block content %}
<html>

<h1>Cart Page</h1>
<body>
 <a href="{{ url_for('search_page') }}" >Back to search</a>
 <form action="{{url_for('post_order')}}", method="post">
<table>
     <div align="center" class="card blue darken-4">
 {% for item,qty,rest_name,menu_item_name,menu_item_cost in item_quantity_list %}
  <tr>

      <td>{{qty}} x {{menu_item_name}} from {{rest_name}} for {{menu_item_cost}} each</td>

  </tr>
{% endfor %}
<tr>Total Order Cost is {{cost}}</tr>

         </div>
    <tr><button type="submit" >Place Order</button></tr>
</table>
     </form>
</body>
</html>
{% endblock %}