{% extends "layout.html" %}
{% block content %}
    <h3>Welcome {{ user }}</h3>
    <br class="container">
    <h4>Hi!</h4>
    <a href="/search">Search Restaurants</a>
    </br>
    <a href="/addresses">My Addresses</a>
    <br>
    <a href="/add_billing_address">Add Billing address</a>
    </br>
    <a href="/updatedetails">Update Details</a>
    <br>

    <!--    <a href="/previous_orders">Previous Orders</a>
      </br>
        <a href="/billing_address">Billing Address</a>
      </br>
        <a href="/card_details">Card Details</a>
      </br> -->
    <a href="/logout">Sign Out</a>
{% endblock %}
