<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add restaurant</title>
</head>
{% extends "layout.html" %}
<style>
#middle {
    top: 50%;
    margin-left: 50%;
}
</style>
{% block content %}
<body>

<div class="row" id="middle">
    <div class="col s12 m6">
        <form action="{{ url_for('addrestaurant') }}" method=post>
            <label for="inputRestName">Restaurant Name</label>
                <input type="text" name="inputRestName" id="inputRestName"required autofocus>
            <label for="inputOwnerName">Owner Name</label>
                <input type="text" name="inputOwnerName" id="inputOwnerName"required autofocus>
            <label for="email">E-mail</label>
                <input type="email" name="email" id="email"required autofocus>
            <label for="password">Password</label>
                <input type="password" name="password" id="password"required autofocus>
            <label for="inputAddress">Address</label>
                <input type="text" name="inputAddress" id="inputAddress"required autofocus>
            <label for="inputZIP">Zip</label>
                <input type="number" name="inputZIP" id="inputZIP" required>
            <label for="inputRating">Rating</label>
                <input type="number" name="inputRating" id="inputRating" required>

                <input class="card grey darken-2" type="submit" value="Add Restaurant">
        </form>
    <div class="col s12 m6">
</div>
</body>
{% endblock %}
</html>