{% extends "layout.html" %}
<h1> Registration Page</h1>

{% block content %}
    <div class="row" id="middle">
        <div class="col s12 m6">
            {% if error  %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
            <div class="card waves-yellow darken-1">
                <form action="/complete_registration" method="POST">
                    Name <input type="text" name="name"/> <br>
                    Email Address <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email"/> <br>
                    Password <input type="password" name="password"/> <br>
                    Confirm Password <input type="password" name="cpassword"/> <br>
                    <input type="hidden" name="user_type" value="customer">
                    <input type="submit" value="Submit"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}