{% extends "layout.html" %}
<h1> Registration Page for Restaurant Owner</h1>

{% block content %}
    <div class="row" id="middle">
        <div class="col s12 m6">
            <div class="card waves-yellow darken-1">
                <form action="/complete_rest_owner_registration" method="POST">
                    Restaurant Name<input type="text" name="rest_name"/> <br>
                    Email Address <input type="email" name="email"/> <br>
                    Owner Name <input type="text" name="owner_name" /> <br>
                    Restaurant Address <input type="text" name="address" /> <br>
                    Restaurant Zipcode <input type="text" name="zipcode" /> <br>
                    Password <input type="password" name="password"/> <br>

                    <input type="submit" value="Submit"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}