{% extends "layout.html" %}
<style>
#middle {
    top: 50%;
    margin-left: 50%;
}
</style>
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Add restaurant</title>
</head>

<form action="{{ url_for('addmenuitem') }}" method=post>
        <label for="inputName">Name</label>
        <input type="name" name="inputName" id="inputName"required autofocus>
        <label for="description">Description</label>
        <input type="Description" name="description" id="description"required autofocus>
        <label for="cost">Cost</label>
        <input type="Cost" name="cost" id="cost" required>

        <input type="submit" class="btn btn-default" value="Submit">
{% endblock %}