<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add restaurant</title>
</head>

<form action="{{ url_for('addrestaurant') }}" method=post>
        <label for="inputName">Name</label>
        <input type="name" name="inputName" id="inputName"required autofocus>
        <label for="inputAddress">Address</label>
        <input type="Address" name="inputAddress" id="inputAddress"required autofocus>
        <label for="inputZIP">Zip</label>
        <input type="ZIP" name="inputZIP" id="inputZIP" required>
        <label for="inputRating">Rating</label>
        <input type="Rating" name="inputRating" id="inputRating" required>

        <input type="submit" value="Submit">
<body>

</body>
</html>