<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">-->
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="{{url_for('login')}}" method="POST">
        <input type="radio" name="login_type" value="customer" checked>Customer<br>
        <input type="radio" name="login_type" value="rest_owner">Restaurant Owner<br>
        <input type="radio" name="login_type" value="admin"> Admin <br>
        <input type="radio" name="login_type" value="delivery"> Delivery Personnel <br>
        Username <input type="text"  name="username" > <br>
        Password <input type="password"  name="password" >
        <input class="btn btn-default" type="submit" value="Login">
      </form>
    </div>
  </body>
</html>
