{% extends "layout.html" %}
{% block content %}
        <form action="{{ url_for('login') }}" method="POST">
        <p><input type="radio" name="login_type" value="customer" id="1" checked/>
            <label for="1">Customer</label></p>
        <p><input type="radio" name="login_type" value="rest_owner" id="2"/>
            <label for="2">Restaurant Owner</label></p>
        <p><input type="radio" name="login_type" value="admin" id="3"/>
            <label for="3">Admin</label></p>
        <p><input type="radio" name="login_type" value="delivery" id="4"/>
            <label for="4">Delivery Personnel</label></p>


        Username <input type="text" name="username"> <br>
        Password <input type="password" name="password">
        <input class="btn btn-default" type="submit" value="Login">
    </form>
{% endblock %}
<!--
<html>
<h2>Login</h2>
<body>
<div class="container">
</div>
</body>
</html> -->