{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Register as</span>
                </div>
                <form action="{{ url_for('register_form') }}" method="POST">
                    <p><input type="radio" name="reg_type" value="customer" id="1" checked/>
                        <label for="1">Customer</label></p>
                    <p><input type="radio" name="reg_type" value="rest_owner" id="2"/>
                        <label for="2">Restaurant Owner</label></p>
                     <p><input type="radio" name="reg_type" value="delivery" id="4"/>
                        <label for="4">Delivery Personnel</label></p>
                    <div class="card-action">
                        <input class="btn btn-default" type="submit" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

