{% extends "layout.html" %}
<h1> Registration Page for Restaurant Owner</h1>

{% block content %}
    <div class="row" id="middle">
        <div class="col s12 m6">
            <div class="card waves-yellow darken-1">
                <form action="/complete_registration" method="POST">
                    Name <input type="text" name="name"/> <br>
                    Email Address <input type="email" name="email"/> <br>
                    Restaurant Name <input type="text" name="resname" /> <br>
                    Restaurant Address <input type="textarea" name="resaddress" /> <br>
                    Restaurant Zipcode <input type="text" name="reszip" /> <br>
                    Password <input type="password" name="password"/> <br>
                    Confirm Password <input type="password" name="cpassword"/> <br>
                    <input type="submit" value="Submit"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}