{% extends "layout.html" %}
<style>
#middle {
    top: 50%;
    margin-left: 50%;
}
</style>
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Add restaurant</title>
</head>

<form action="{{ url_for('addmenuitem') }}" style="width: 300px" method=post>
        <label for="inputName">Name</label>
        <input type="text" name="inputName" id="inputName"required autofocus>
        <label for="description">Description</label>
        <input type="text" name="description" id="description"required autofocus>
        <label for="cost">Cost</label>
        <input type="number" name="cost" id="cost" required>

        <input style="color:gray" type="submit" class="card grey darken-2" value="Submit">
{% endblock %}